<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="./practice.css" rel="stylesheet" type="text/css">
</head>
<body>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./partyone.html">Partyone</a>
            <a href="./community.html">Community</a>
            <a href="./services.html">Services</a>
        </nav>

        <h1>About Us</h1>
        <img src="./images/logo.jpg">
        <h1>우리가 만드는 공간에서 새로운 인연을 만들어요 ! </h1>
        <p>'너와 나의 연결고리'는 내 주변에 나와 함께 해줄 사람과 만들어가는 즐거운 라이프!</p>
        <p>가깝고 따뜻한 당신의 근처에서 우리 함께해요</p>
        <a href="index.html">첫화면으로 가기</a>


</body>
</html>