<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="./practice.css" rel="stylesheet" type="text/css">
</head>
<body>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./about_me.html">About</a>
            <a href="./partyone.html">Partyone</a>
            <a href="./community.html">Community</a>
            <a href="./services.html">Services</a>
        </nav>

        <h1>community</h1>
        <img src="./images/logo.jpg">
        <h1>후기등록</h1>
        <p>1</p>
        <p>2</p>


</body>
</html>