{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homeapp/css/home.css' %}">
    <!--- 카테고리 아이콘 --->
<br>
    <ul class="icon">
          <li class="css-7ep78h ev67sfv3">
              <a href="#">
                  <div class="css-iked8e ev67sfv2">
                      <img src="{% static 'homeapp/images/반려동물.png' %}"></div>
                  <div class="css-a1yzr8 ev67sfv0">
                      <div class="text-center">반려동물</div></div>
              </a>
          </li>
          <li class="css-7ep78h ev67sfv3">
              <a href="#">
                  <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/게임.png' %}"></div>
                  <div class="css-a1yzr8 ev67sfv0">
                      <div class="text-center">게임</div></div>
              </a>
          </li>
          <li class="css-7ep78h ev67sfv3">
                <a href="#">
                    <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/스터디.png' %}"></div>
                    <div class="css-a1yzr8 ev67sfv0">
                        <div class="text-center">스터디</div></div>
                </a></li>
          <li class="css-7ep78h ev67sfv3"><a href="#">
          <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/운동.png' %}"></div>
              <div class="css-a1yzr8 ev67sfv0">
                  <div class="text-center">운동</div></div></a>
          </li>
          <li class="css-7ep78h ev67sfv3"><a href="#">
              <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/음악.png' %}"></div>
              <div class="css-a1yzr8 ev67sfv0">
                  <div class="text-center">문화/공연/축제</div></div></a>
          </li>
          <li class="css-7ep78h ev67sfv3"><a href="#">
          <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/요리.png' %}"></div>
              <div class="css-a1yzr8 ev67sfv0">
                  <div class="text-center">요리/맛집</div></div></a>
          </li>
          <li class="css-7ep78h ev67sfv3"><a href="#">
              <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/자동차.png' %}"></div>
              <div class="css-a1yzr8 ev67sfv0">
                  <div class="text-center">차/오토바이</div></div></a>
          </li>
          <li class="css-7ep78h ev67sfv3"><a href="#">
              <div class="css-iked8e ev67sfv2"><img src="{% static 'homeapp/images/자유.png' %}"></div>
              <div class="css-a1yzr8 ev67sfv0">
                  <div class="text-center">자유</div></div></a>
          </li>
    </ul>
      <br><br>



    <!--- 카테고리 아이콘 끝 --->



        <!-- Section-->
        <br><br><br><h3 class="new"> - 지금 인기있는 연결고리 -</h3>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">강아지 산책 파티원 구해요</h5>
                                    <!-- Product price-->
                                    모집인원(1/2)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hot</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">관악산 등산가요!</h5>
                                    <!-- Product price-->
                                    모집인원(2/6)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">쇼미더머니11 같이 준비해요!</h5>
                                    <!-- Product price-->
                                    모집인원(1/2)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">초등학생맘 고민나누어요</h5>
                                    <!-- Product price-->
                                    모집인원(3/6)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">급구</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">결혼식하객 부탁드려요!!!</h5>
                                    <!-- Product price-->
                                    모집인원(8/10)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">롤겜 같이할 파티원 구함요</h5>
                                    <!-- Product price-->
                                    모집인원(4/5)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hot</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">꽃꽂이 원데이클래스 같이들어요!</h5>

                                    <!-- Product price-->
                                    모집인원(1/2)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">식단관리 같이해요!</h5>
                                    <!-- Product price-->
                                    모집인원(4/4)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


              <!-- 후기 Section-->
        <br><br><h3 class="new"> - 베스트 연결고리 모임후기 -</h3>
       <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">관악산 다녀왔어요!</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">강아지산책다녀옴</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">배그치킨먹었닭!</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">스터디완료</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}