<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="./practice.css" rel="stylesheet" type="text/css">
</head>
<body>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./about_me.html">About</a>
            <a href="./partyone.html">Partyone</a>
            <a href="./community.html">Community</a>
            <a href="./services.html">Services</a>
        </nav>


                <!-- Header-->

             <div class="row">
                 <div class="col-sm-6 col-md-4">
                 <div class="container">
                <h1 class="display-4 fw-bolder">partyone</h1>
                <img src="./images/logo.jpg">
                <h1> 지역선택 : 광역시,도 / 시군구 / 읍면동 </h1>
                <h1> 카테고리 : 산책 / 게임 / 운동 / 스터디 / 맘 </h1>
                </div>
                     <div class="row">
                         <div class="col-sm bg-info">
                     <div class="thumbnail">
                         <img src="./images/산책.jpg" alt="...">
                         <div class="caption">
                         <h3>같이산책할사람 구해요!</h3>
                           <p>(1/2)</p>
                             <p><a href="#" class="btn btn-primary" role="button">참가</a>
                                <a href="#" class="btn btn-default" role="button">참가취소</a></p>
                         </div>
                         </div>
                     <div class="col-sm bg-secondary"
                      <div class="thumbnail">
                          <img src="./images/코딩.jpg" alt="...">
                          <div class="caption">
                              <h3>코딩스터디</h3>
                          <p>(1/5)</p>
                            <p><a href="#" class="btn btn-primary" role="button">참가</a>
                                 <a href="#" class="btn btn-default" role="button">참가취소</a></p>
                      </div>
                      </div>
                     </div>
                   </div>

</div>
</body>
</html>