{% extends 'base.html' %}
{% block content %}
<h1>로그인</h1>
<div><a href="{% url 'accounts:signup' %}">회원가입</a></div>
<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div>
        <label>사용자 ID</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label>비밀번호</label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit">로그인</button>
</form>
{% endblock %}