{% load static %}
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'images/logo2.png' %}"> 너와 나의 연결고리 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pybo:layout4' %}">Partyone</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'community:content_list'%}">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'qna:qna_view' %}">Services</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul>
            {% if user.is_authenticated %}
            <button class="accounts"><a href="{% url 'accounts:logout' %}">{{user}}로그아웃</a></button>
            {% else %}
            <button class="accounts"><a href="{% url 'accounts:signup' %}">회원가입</a></button>
            <button class="accounts"><a href="{% url 'accounts:login' %}">로그인</a></button>
            {% endif %}
        </ul>
    </div>
</nav>