{% extends 'base.html' %}
{% include 'header.html' %}

{% block content %}
<form>
    <table id="customers">

        <tr>
            <th><label>제목</label><input type="text"></th>

        </tr>
        <tr>
            <th>
                <legend>지역</legend>
                <p><b>지역을 선택해주세요</b></p>
                <label><input type="radio" name="gu">강남구</label>
                <label><input type="radio" name="gu">강동구</label>
                <label><input type="radio" name="gu">강북구</label>
                <label><input type="radio" name="gu">강서구</label>
                <label><input type="radio" name="gu">관악구</label>
                <label><input type="radio" name="gu">광진구</label>
                <label><input type="radio" name="gu">구로구</label>
                <label><input type="radio" name="gu">금천구</label>
                <label><input type="radio" name="gu">노원구</label>
                <label><input type="radio" name="gu">도봉구</label>
                <label><input type="radio" name="gu">동대문구</label>
                <label><input type="radio" name="gu">동작구</label>
                <label><input type="radio" name="gu">마포구</label>
                <label><input type="radio" name="gu">강남구</label>
                <label><input type="radio" name="gu">서대문구</label>
                <label><input type="radio" name="gu">서초구</label>
                <label><input type="radio" name="gu">성동구</label>
                <label><input type="radio" name="gu">성북구</label>
                <label><input type="radio" name="gu">송파구</label>
                <label><input type="radio" name="gu">양천구</label>
                <label><input type="radio" name="gu">영등포구</label>
                <label><input type="radio" name="gu">용산구</label>
                <label><input type="radio" name="gu">은평구</label>
                <label><input type="radio" name="gu">종로구</label>
                <label><input type="radio" name="gu">중구</label>
                <label><input type="radio" name="gu">중랑구</label>


            </th>
        </tr>
        <tr>
            <th>
                <legend>카테고리</legend>
                <label>카테고리를 선택해주세요</label>
                <select name="category">
                    <option value="1">게임</option>
                    <optgroup label="공부">
                    <option value="2_1">코딩</option>
                    <option value="2_2">수능</option>
                    <option value="2_3">영어</option>
                    </optgroup>
                </option>
                <option value="3">스포츠</option>
                </select>

            </th>
        </tr>
        <tr>
            <td><label>내용</label>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="content" id="content" rows="10"></textarea>
            </td>

    </table>
</form>
<button type="submit"><a href ="http://127.0.0.1:8000/pybo/layout4/">등록</a></button>


<!--<div>-->
<!--<textarea placeholder="댓글을 남겨보세요" rows="1" class="comment_inbox_text" style="overflow: hidden; overflow-wrap: break-word; height: 17px;">-->

<!--</textarea>-->
<!--<input type = "submit">-->
<!--</div>-->
{% endblock %}