    .carousel-inner > .carousel-item > img{
      width: 1700px;
      height: 627px;
    }

    .css-7ep78h {
    display:inline-block;-webkit-flex:0 0 20%;-ms-flex:0 0 20%;flex:0 0 20%;}
    @media (min-width: 768px){.css-7ep78h{-webkit-flex:0 0 10%;-ms-flex:0 0 10%;flex:0 0 10%;}}

    element.style {
    }
    @media (min-width: 768px)

    .css-1qvkor6 {
    padding: 0;
    }
    @media (min-width: 375px)

    .css-1qvkor6 {
    padding: 0;
    }

    .css-1qvkor6 {
    color: #007bff;
    padding: 0;
    }

    nav {
    display: block;
    }

    .css-1qvkor6 {
    overflow: auto;
    width: 100%;
    max-width: 1256px;
    margin: 0 auto;
    box-sizing: border-box;
    }

    ul.icon {
    margin :  0 auto;
    width: 1300px;
    height: 150px;
    }

    .new{text-align: center;}

    body {
    padding-top: 5px;
    }